@charset "utf-8";

/* main_visual*/
.main_visual {
  position: relative;
  width: 100%;
  height: 100vh;
  /* 화면 전체 높이 */
  background-image: url("../img/main_visual.png");
  background-size: cover;
  /* 꽉 채움 */
  background-position: center;
  /* 중앙 기준 */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 세로 중앙 */
  text-align: center;
  color: #fafafa;
}

.main_contents {
  max-width: 1600px;
  padding: 0 20px;
}

.main_desc {
  font-size: 26px;
  margin-bottom: 20px;
  opacity: 0.9;
  font-family: "Pretendard", sans-serif;
}

.main_title {
  font-size: 68px;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Pretendard", sans-serif;
}


/* brand_section */

.brand_section {
  width: 100%;
  max-width: 100%;
  height: 950px;
  margin: 0 auto;
  padding: 180px 80px;
  background: #F4F4EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.brand_contents {
  width: 1600px;
  height: 600px;
}

.brand_desc {
  font-size: 27px;
  font-family: "";
  font-weight: 300;
  display: flex;
  justify-content: center;
  color: #777171;
}

.brand_title {
  font-size: 58px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  color: #260101;
  padding-top: 10px;
  margin-bottom: 80px;
  /* 타이틀과 카드간의 거리 */
  gap: 10px;
}

.brand_title .accent {
  font-size: 63px;
  font-weight: 700;
  color: #8C030E;
}

.brand_card {
  width: 100%;
  height: 290px;
  gap: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}

.brand_card .card {
  width: 340px;
  height: 290px;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  /* 🔥 유리 핵심 */
  background: rgba(219, 195, 195, 0.446);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /* 유리 바탕 */
  background: rgba(225, 213, 213, 0.22);
  backdrop-filter: blur(14px) saturate(120%);
  -webkit-backdrop-filter: blur(14px) saturate(120%);

  /* 유리 테두리(빛 받는 느낌) */
  border: 1px solid rgba(225, 214, 214, 0.55);

  /* 바깥쪽 그림자(떠있는 느낌) + 안쪽 그림자(볼록) */
  box-shadow:
    0 20px 20px rgba(130, 130, 130, 0.06),
    /* 메인 외부 그림자 */
    0 6px 18px rgba(119, 118, 118, 0.06),
    /* 보조 외부 그림자 */
    inset 0 1px 0 rgba(255, 255, 255, 0.65),
    /* 윗면 하이라이트 */
    inset 0 -10px 10px rgba(0, 0, 0, 0.05);
  /* 아래쪽 음영 */
}

.brand_card .card_tit {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: center;
  text-align: center;
  border-bottom: 1px solid #171717;
}

.brand_card .card_tit h3 {
  width: 100%;
  font-size: 35px;
  font-weight: 600;
}

.brand_card .card strong {
  font-size: 28px;
  font-weight: 500;
  margin-top: 40px;
}

.brand_card .card p {
  font-size: 20px;
  font-size: 100;
  margin-top: 30px;
}

.brand_section .brand_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.brand_section .brand_btn .brand_story {
  width: 284px;
  height: 66px;
  font-size: 22px;
  border: 1px solid #8C030E;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.icon {
  font-size: 20px;
  /* 크기 조절 */
  margin-left: 4px;
  /* 텍스트와 간격 */
  position: relative;
  top: 2px;
}


/* popular_section */

.popular_section {
  width: 100%;
  height: 959px;
  padding: 130px 160px;
  background-color: #fafafa;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  overflow: visible;
}

.popular_title {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}

.popular_title p {
  font-size: 20px;
  font-weight: 300;
  color: #171717;
}

.popular_title h3 {
  font-size: 60px;
  font-weight: 500;
  color: #171717;
}

.popular_card {
  display: flex;
  gap: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px 0;
  scroll-snap-type: none;
  touch-action: pan-y;
}

.popular_card::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari */
}

.best_item {
  flex: 0 0 300px;
  /* 카드 폭 고정(원하는 값으로) */
  scroll-snap-align: start;
  /* 스냅 기준 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.item_img {
  width: 300px;
  height: 380px;
  /* 이미지 영역 높이 */
  border-radius: 18px;
  background: rgba(248, 246, 242, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}

.item_img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.item_txt {
  width: 100%;
  margin-top: 14px;
  margin-left: 30px;
  /* 카드의 border-radious에 맞춰서 텍스트도 들어와야함 */
  text-align: start;
  /* 왼쪽정렬 */
}

.item_txt strong {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  margin-bottom: 10px;
}

.item_txt p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}


/* info_section */

.info_section {
  width: 100%;
  height: 1176px;
  padding: 130px 160px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 80px;
  overflow: visible;
}


.info_tit {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}

.info_tit p {
  font-size: 20px;
  color: #171717;
}

.info_tit h3 {
  font-size: 56px;
  font-weight: 500;
  color: #171717;
}

.info_tit .accent {
  font-size: 60px;
  font-weight: 600;
  color: #8C030E;
}

.info_section ul {
  width: 100%;
  height: 700px;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info_section ul li {
  flex: 1;
  overflow: hidden;
  position: relative;
  border-radius: 28px;
  transition: flex 0.45s ease;
  cursor: pointer;
}

/* .info_section ul li::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(233, 227, 227, 0.51);
  opacity: 0;
  transition: opacity 0.45s ease;
  z-index: 1;
}

.info_section ul li:hover::after {
  opacity: 1;
} */

.info_section ul:hover li {
  flex: 0.75;
}

.info_section ul li:hover {
  flex: 2.75;
}

.info_section ul li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.45s ease, filter 0.45s ease;
  transform: scale(1);
  filter: none;
  z-index: 0;
}

.info_section ul li:hover img {
  transform: scale(1.04);
  filter: blur(3px) brightness(.95);
}



.info_section .txt_box {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  z-index: 2;
}

.info_section .txt_box a {
  display: inline-flex;
  max-width: 100%;
  color: #fafafa;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.25;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.35s ease;
  position: relative;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.info_section .txt_box a::before {
  content: '';
  display: inline-block;
  position: absolute;
  background: #8C030E;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .8s;
  left: 0;
  top: 0;
}

.info_section ul li:hover .txt_box a::before {
  width: 100%;
}